* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* For Mac/iOS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* For all */
  text-rendering: optimizeLegibility;
  /* Disable text scaling on mobile devices (Android/iOS) */
  -webkit-text-size-adjust: 100%;
  /* From Figma-draft */
  background-color: #fafafa;
  /* color: #212121; */
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {  
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}
input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* Task-1 */

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 440px;
  background: #fff;
  padding: 24px;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  /* height: 264px; */
  background: #f6f6fe;
  /* outline: 1px solid tomato; */
}

.item h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  margin-bottom: 16px;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
}

.item li {  
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
}

/* Task-2 */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
  column-gap: 24px;
  max-width: 1128px;
  margin: 100px auto;
  background: #fff;
  /* height: 848px; */
}

.gallery-li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 24px * 2) / 3);
  overflow: hidden;
  min-width: 360px;
  height: 300px;
  background-color: olive;
}

.gallery-img {
  height: 100%;
}


/* Task-3 */
h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}

#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  margin: 24px 0 16px; 
}

/* Task-4 */
.login-form {
  display: flex;
  flex-direction: column;
  width: 408px;
  /* height: 256px; */
  background: #fff;
  padding: 24px;
  border-radius: 8px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
}

.login-form input {
  display: block;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
}

.login-form button {
  border: none;
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 86px;
  height: 40px;
  margin-top: 8px;
  background: #4e75ff;
  font-weight: 500;
  color: #fff;
}


/* Task-5 */
.widget {
  border-radius: 8px;
  padding-block: 100px;
  padding-inline: 88px;
  width: 345px;
  height: 280px;
  background: #fff;
  padding: 100px 88px;
  text-align: center;
}

.change-color {
  margin-top: 16px;
  border: none;
  border-radius: 8px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  color: #fff;
}
